!!!
%html.no-js{lang: "de"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title Steven Gugerli
    %meta{content: "Steven Gugerli, 100 m-Läufer, GG Bern", lang: "de", name: "description"}
    %meta{content: "Steven Gugerli, 100 m-Läufer, GG Bern", name: "keywords"}
    %meta{content: "de,deutsch,german", "http-equiv" => "content-language"}
    %meta{content: "Steven Gugerli, 100 m-Läufer, GG Bern", name: "page-topic"}
    %meta{content: "http://www.textatelier.ch, Thorsten Kaletsch, Biel", name: "author"}
    %meta{content: "http://www.stevengugerli.ch, Steven Gugerli, Urdorf", name: "copyright"}
    %meta{content: "http://www.stevengugerli.ch, Steven Gugerli, Urdorf", "http-equiv" => "Owner"}
    %meta{content: "worldwide", name: "coverage"}
    %meta{content: "index,follow", name: "robots"}
    %link{href: "css/app.css", rel: "stylesheet"}
    %script{src: "bower_components/modernizr/modernizr.js"}

  %body
    .row
      .large-12.columns
        %h1 Steven Gugerli
        %h2 100 m-Läufer, GG Bern

    .row
      .large-12.columns
        %img{"data-interchange" => "[imgs/gugerli.jpg, (small)], [imgs/gugerli.jpg, (medium)], [imgs/gugerli.jpg, (large)]"}

    .row
      .large-12.large-offset-6.columns
        %p 
          Steven Gugerli unterstützen
          %br
          %a{href: 'pdfs/Sponsoring-Dossier_Gugerli.pdf', target: '_blank'}Sponsoring-Dossier (pdf)
          %br
          %a{mailto: 'kontakt@stevengugerli.ch'} kontakt@stevengugerli.ch
    %script{src: "bower_components/jquery/jquery.js"}
    %script{src: "bower_components/fastclick/lib/fastclick.js"}
    %script{src: "bower_components/foundation/js/foundation.min.js"}
    %script{src: "js/app.js"}
